{% extends "base.html" %}
{% set current_departure_tours = tours.values() | selectattr("departure", "equalto", departure_id)| list%}
{% block container %}
<main class="container mt-3">
   <h1 class="display-5 mt-4">Летим {{departures[departure_id]}}</h1>
   <p class="mb-4">
      Найдено туров: {{current_departure_tours|length}},
      от {{ (current_departure_tours|min(attribute="price")).price }} руб.
      до {{ (current_departure_tours|max(attribute="price")).price }} руб. и
      от {{ (current_departure_tours|min(attribute="nights")).nights }} ночей
      до {{ (current_departure_tours|max(attribute="nights")).nights }} ночей
   </p>
   <!-- CARDS -->
   <div class="row mt-5">
      {% for tour in current_departure_tours %}
      <div class="col-4">
         <div class="card mb-4">
            <img src="{{tour.picture}}" class="card-img-top img-fluid" alt="">
            <div class="card-body">
               <h2 class="h5 card-title">{{tour.title}}</h2>
               <p class="card-text">{{tour.description|truncate(200)}}</p>
               {% for tour_id, tour_data in tours.items() %}
               {% if tour_data.title == tour.title and tour_data.departure == tour.departure %}
               <a href="/tours/{{tour_id}}/" class="btn btn-sm btn-primary">Подробнее</a>
               {% endif %}
               {% endfor %}
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</main>
{% endblock %}