{% extends "base.html" %}
{% block container %}
<main class="container">
   <section class="mt-3 pb-5">
      <h1 class="display-3 mt-4">{{ tour_details.title }} {{ '★' * tour_details.stars }}</h1>
      <!-- HERO -->
      <p class="lead">{{ tour_details.country}} {{ departures[tour_details.departure] }} {{ tour_details.nights}} ночей </p>
      <img src="{{ tour_details.picture }}" class="w-75" alt="">
      <p class="my-4 w-75">{{ tour_details.description }}</p>
      <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tour_details.price }} рублей</a>
   </section>
</main>
{% endblock %}